<header>
  Header appears here...
  <a routerLink="/landing" routerLinkActive="active">Landing</a>
  <a routerLink="/private" routerLinkActive="active">Private</a>
</header>

<router-outlet></router-outlet>
